{% extends 'main.html' %}

{% block content %}

<body>
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Straight Hair: </h2>
                <p class="lead"> Straight hair is characterized by hair strands that lie flat and lack natural curls or
                    waves. It is generally smooth and shiny. Straight hair can be fine, medium, or coarse in thickness.
                </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?straight hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> Wavy Hair:</h2>
                <p class="lead">Wavy hair has a slight 'S' shape or loose curls. It falls between straight and curly
                    hair.
                    Wavy hair can range from fine to coarse, and the amount of wave can vary from subtle to more
                    pronounced.
                </p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?wavy hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Curly Hair: </h2>
                <p class="lead">Curly hair forms well-defined curls or coils. It can be categorized into three subtypes
                    based on curl pattern:

                    a. Type 2 (Wavy): Loose waves that form a slight 'S' shape.
                    b. Type 3 (Curly): More defined curls ranging from loose to tight ringlets.
                    c. Type 4 (Coily): Very tight, small curls or coils, also known as "kinky" or "afro-textured" hair.
                </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?curly hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading"> Kinky Hair: </h2>
                <p class="lead">Kinky hair, often referred to as Type 4 hair, has tightly coiled or zigzag-shaped curls.
                    This hair type is common among people of African descent and can be further categorized into Type
                    4A,
                    4B, and 4C, based on the curl pattern and texture.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?kinky hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Thin Hair: </h2>
                <p class="lead">Thin hair refers to hair that has a smaller diameter and feels less voluminous. People
                    with
                    thin hair may have less density and struggle with creating volume in their hairstyles.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?thin hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Thick Hair: </h2>
                <p class="lead">Thick hair has a larger hair diameter and can feel dense and voluminous. It often holds
                    styles well but can be challenging to manage due to its volume.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?thick hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Fine Hair: </h2>
                <p class="lead">Fine hair refers to the texture of each individual hair strand. It means that each
                    strand
                    has a smaller diameter, regardless of the overall thickness of the hair. Fine hair can be straight,
                    wavy, curly, or kinky.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?fine hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Coarse Hair: </h2>
                <p class="lead">Coarse hair has a thicker individual hair strand diameter. This hair type may feel rough
                    or
                    wiry to the touch and can be straight, wavy, curly, or kinky.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?coarse hair" alt="">
            </div>
        </div>

        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading"> Normal Hair: </h2>
                <p class="lead">Normal hair falls somewhere between the extremes of fine and coarse, and it is neither
                    too
                    oily nor too dry. It is manageable and doesn't require specialized care.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?normal hair" alt="">
            </div>
        </div>
    </div>

    <footer class="container my-4">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 flamingo, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>

{% endblock content %}