{% extends 'main.html' %}

{% block content %}
<body>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://source.unsplash.com/1400x300/?silky and beautiful hair" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>flamingo- The best place to know about your body</h2>
                    <p>
                    <h5>Flamingo brings to you a set of questions designed by experts to find out your skin type and
                        hair type.</h5>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1400x300/?beautiful girl reading a book" class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Short Flamingo Questionaire</h2>
                    <p>
                    <h5>Give a short test of less than 15 minutes to your skin type and hair type.</h5>
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://source.unsplash.com/1400x300/?skin and hair care products " class="d-block w-100"
                    alt="...">
                <div class="carousel-caption d-none d-md-block">
                    <h2>Found your skin and hair type ? Wait!</h2>
                    <p>
                    <h5>Flamingo brings to you the best quality and cheapest products around the web best for your type.
                    </h5>
                    </p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- Test begins here -->
    <div class="container my-3">
        <div class="card text-center">
            <div class="card-header">
                <h5>
                    <p class="fst-italic">
                        “It's so incredible to finally be understood.”
                    </p>
                </h5>
            </div>
            <div class="card-body">
                <h5 class="card-title">Short Flamingo Questionaire</h5>
                <p class="card-text">Only 15 minutes to get a good description of your body type.</p>
                <a href="" class="btn btn-outline-primary">Take the test</a>
            </div>
            <div class="card-footer text-muted">
                Set by Experts and Specialists
            </div>
        </div>
    </div>
    <!-- Test ends here -->
    
    <div class="container my-6">
        <div class="card-group">
            <div class="card">
                <img src="https://source.unsplash.com/1400x900/?beautiful and glowing skin" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Know the various skin types</h5>
                    <p class="card-text">This page tells you about all the possible skin types and their
                        characteristics.
                    </p>
                    <a href="{% url 'skin-type' %}" class="btn btn-outline-primary">Let's go</a>
                </div>
            </div>
            <div class="card">
                <img src="https://source.unsplash.com/1400x900/?beautiful and silky hair" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">Know the various hair types</h5>
                    <p class="card-text">This page tells you about all the possible hair types and their
                        characteristics.
                    </p>
                    <a href="{% url 'hair-type' %}" class="btn btn-outline-primary">Let's go</a>
                </div>
            </div>
            <div class="card">
                <img src="https://source.unsplash.com/1400x900/?plants and flowers" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Natural vs Artificial</h5>
                    <p class="card-text">A person well-aware of their body type must choose a way they care about
                        their bodies which suits their body type.
                    </p>
                    <a href="{% url 'art-nat' %}" class="btn btn-outline-primary">Let's go</a>
                </div>
            </div>
        </div>
    </div>

    <footer class="container my-4">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 flamingo, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>

{% endblock content %}