{% extends 'main.html' %}

{% block content %}

<body>
    <h1><b><center>Natural Skin</center></b></h1>
    <div class="container my-4">

        <h5>Using natural ingredients to care for your skin can be beneficial improve the glow. Here are some
            tips
            on how to incorporate natural ingredients into your skin care routine:</h5>

        <div class="container my-4">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Cleansing with natural oils: </h2>
                    <p class="lead"> Use natural oils like coconut oil, olive oil, or almond oil to cleanse your skin.
                        Apply
                        the oil to your face and gently massage it in to dissolve makeup and impurities. Remove the oil
                        with
                        a warm, damp washcloth.
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Natural oils" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Honey as a gentle cleanser and exfoliator: </h2>
                    <p class="lead">Honey is a natural antibacterial agent and can act as a gentle cleanser for your
                        skin.
                        Apply a small amount of raw honey to your damp face, massage it in, and rinse with warm water.
                        Additionally, honey can be mixed with a bit of sugar or oatmeal to create a natural exfoliating
                        scrub.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Honey" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Aloe vera for soothing and hydration: </h2>
                    <p class="lead">Aloe vera gel is excellent for soothing and hydrating the skin. Apply fresh aloe
                        vera
                        gel to your face as a moisturizer or use it to soothe sunburns and irritations.
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Aloe Vera" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Rose water as a toner: </h2>
                    <p class="lead">Rose water is a gentle and refreshing natural toner. Use a cotton pad soaked in rose
                        water to tone your skin after cleansing. It helps balance the skin's pH and can reduce redness
                        and
                        inflammation.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Rose water" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Green tea as an antioxidant treatment: </h2>
                    <p class="lead">Brew green tea and let it cool. Use it as a facial mist or soak a cotton pad in the
                        green tea and apply it to your face. Green tea is rich in antioxidants that can help protect the
                        skin from environmental damage.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Green Tea" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Yogurt as a nourishing mask: </h2>
                    <p class="lead">Yogurt is rich in lactic acid, which gently exfoliates the skin and helps improve
                        its
                        texture. Apply plain yogurt to your face as a mask, leave it on for 15-20 minutes, and then
                        rinse
                        off for a nourished and revitalized complexion.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Yogurt" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Cucumber for cooling and reducing puffiness: </h2>
                    <p class="lead"> Cucumber slices can be placed on your eyes to reduce puffiness and soothe tired
                        eyes.
                        You can also blend cucumber and use the juice as a refreshing facial mist.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Cucumber slices" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Rosemary and lavender essential oils for scalp stimulation: </h2>
                    <p class="lead">Add a few drops of rosemary or lavender essential oil to your shampoo or carrier oil
                        (such as coconut or jojoba oil). These oils can help stimulate the scalp, promoting hair growth
                        and
                        a healthy scalp environment.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Rosemary and lavender oil" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Green tea rinse for hair growth: </h2>
                    <p class="lead">Brew green tea and let it cool. Use it as a hair rinse after shampooing to promote
                        hair
                        growth and add shine.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Green tea" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Yogurt for scalp and hair health: </h2>
                    <p class="lead">Yogurt contains probiotics that can help maintain a healthy scalp. Apply plain
                        yogurt to
                        your scalp and hair, leave it on for 20-30 minutes, and then rinse thoroughly.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Yogurt" alt="">
                </div>
            </div>
        </div>

        <h5>Remember to perform a patch test before using any new natural ingredient on your hair to check for any
            adverse
            reactions. Additionally, observe your skin's response to each treatment and adjust the frequency based on
            your
            skin type and needs. Consistency and patience are key to seeing the best results from natural skin care.
        </h5>

    </div>

    <footer class="container my-4">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 flamingo, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>

{% endblock content %}