{% extends 'main.html' %}

{% block content %}

<body>
    
    <div class="container my-4">
        <h5>Using natural ingredients to care for your hair can be beneficial and gentle on your locks. Here are some
            tips
            on how to incorporate natural ingredients into your hair care routine:</h5>

        <div class="container my-4">
            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Coconut oil for deep conditioning: </h2>
                    <p class="lead"> Coconut oil is an excellent natural hair conditioner. Warm up some coconut oil and
                        apply it to your hair from the roots to the ends. Leave it on for a few hours or overnight, then
                        shampoo and condition as usual. It helps moisturize and nourish your hair, leaving it soft and
                        shiny.
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Coconut oil" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Aloe vera for scalp health: </h2>
                    <p class="lead">Aloe vera has soothing and moisturizing properties, making it ideal for maintaining
                        a
                        healthy scalp. Apply fresh aloe vera gel directly to your scalp and massage gently. Leave it on
                        for
                        20-30 minutes before rinsing it off with water.
                    </p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Aloe Vera" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Apple cider vinegar as a clarifying rinse: </h2>
                    <p class="lead">Diluted apple cider vinegar can be used as a natural clarifying rinse to remove
                        product
                        buildup and balance the pH of your scalp. Mix one part apple cider vinegar with three parts
                        water
                        and use it as a final rinse after shampooing.
                    </p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Apple cider vinegar" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Honey for shine and moisture: </h2>
                    <p class="lead">Honey is a natural humectant, which means it attracts and retains moisture. Mix a
                        tablespoon of honey with water or your conditioner and apply it to your hair. Leave it on for a
                        few
                        minutes before rinsing thoroughly.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?honey" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Avocado for nourishment: </h2>
                    <p class="lead">Avocado is rich in healthy fats and vitamins that can nourish and strengthen your
                        hair.
                        Mash a ripe avocado and apply it to your damp hair, focusing on the ends. Leave it on for about
                        30
                        minutes before washing it out.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Avocado" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Egg for protein treatment: </h2>
                    <p class="lead">Eggs are packed with protein, which can help repair damaged hair. Beat an egg and
                        apply
                        it to clean, damp hair. Leave it on for 20-30 minutes before rinsing with cool water (to prevent
                        the
                        egg from cooking) and shampooing.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Egg Protein" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Olive oil for split ends: </h2>
                    <p class="lead">Olive oil is a great natural remedy for split ends. Apply a small amount of olive
                        oil to
                        the ends of your hair to seal and protect them.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Olive oil" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Rosemary and lavender essential oils for scalp stimulation: </h2>
                    <p class="lead">Add a few drops of rosemary or lavender essential oil to your shampoo or carrier oil
                        (such as coconut or jojoba oil). These oils can help stimulate the scalp, promoting hair growth
                        and
                        a healthy scalp environment.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Rosemary and lavender oil" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-1">
                    <h2 class="featurette-heading">Green tea rinse for hair growth: </h2>
                    <p class="lead">Brew green tea and let it cool. Use it as a hair rinse after shampooing to promote
                        hair
                        growth and add shine.</p>
                </div>
                <div class="col-md-5 order-md-2">
                    <img src="https://source.unsplash.com/500x500/?Green tea" alt="">
                </div>
            </div>

            <div class="row featurette d-flex justify-content-center align-items-center">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Yogurt for scalp and hair health: </h2>
                    <p class="lead">Yogurt contains probiotics that can help maintain a healthy scalp. Apply plain
                        yogurt to
                        your scalp and hair, leave it on for 20-30 minutes, and then rinse thoroughly.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="https://source.unsplash.com/500x500/?Yogurt" alt="">
                </div>
            </div>
        </div>

        <h5>Remember to perform a patch test before using any new natural ingredient on your hair to check for any
            adverse
            reactions. Additionally, observe your hair's response to each treatment and adjust the frequency based on
            your
            hair type and needs. Consistency and patience are key to seeing the best results from natural hair care.
        </h5>
    </div>

    <footer class="container my-4">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 flamingo, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>

{% endblock content %}