{% extends 'main.html' %}

{% block content %}

<body>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading"> 1) Normal Skin: </h2>
                <p class="lead"> Normal skin is well-balanced and generally has a good texture. It's not too oily or too
                    dry, and the pores are usually small and not easily noticeable. People with normal skin typically
                    have few blemishes and experience minimal sensitivity. Normal skin requires basic skincare
                    maintenance to keep it healthy. </p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?normal skin" alt="">
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Dry Skin: </h2>
                <p class="lead">Dry skin lacks sufficient moisture, and as a result, it can feel tight, rough, and
                    flaky. It may have visible fine lines and a dull appearance. Dry skin can be caused by environmental
                    factors, genetics, or improper skincare. It needs extra hydration and moisturization to maintain its
                    elasticity and prevent premature aging.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?dry skin" alt="">
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Oily Skin: </h2>
                <p class="lead">Oily skin produces an excess of sebum, the skin's natural oil. This can result in a
                    shiny appearance, especially on the forehead, nose, and chin (the T-zone). Oily skin is prone to
                    enlarged pores, blackheads, and acne breakouts due to the buildup of oil and debris. Proper
                    cleansing and oil-controlling products are essential for managing oily skin.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?oily skin" alt="">
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Combination Skin: </h2>
                <p class="lead">Combination skin is a mix of different skin types on different areas of the face.
                    Typically, the T-zone (forehead, nose, and chin) is oilier, while the cheeks are drier. Managing
                    combination skin can be tricky, as you'll need to use products that cater to both dry and oily areas
                    of your face.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?combintion skin" alt="">
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-1">
                <h2 class="featurette-heading">Sensitive Skin: </h2>
                <p class="lead">Sensitive skin is prone to irritation and reactions when exposed to certain products or
                    environmental factors. It can be characterized by redness, itching, burning, or stinging sensations.
                    People with sensitive skin need gentle, hypoallergenic, and fragrance-free products to avoid
                    triggering adverse reactions.</p>
            </div>
            <div class="col-md-5 order-md-2">
                <img src="https://source.unsplash.com/500x500/?sensitive skin" alt="">
            </div>
        </div>
    </div>

    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Mature Skin: </h2>
                <p class="lead"> Mature skin refers to skin that has aged and undergone changes due to the natural aging
                    process and external factors like sun exposure and lifestyle choices. It is often drier and may show
                    more signs of wrinkles, fine lines, and age spots. Proper anti-aging skincare and sun protection are
                    crucial for maintaining mature skin.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="https://source.unsplash.com/500x500/?mature skin" alt="">
            </div>
        </div>
    </div>

    <footer class="container my-4">
        <p class="float-end"><a href="#">Back to top</a></p>
        <p>© 2017–2023 flamingo, Inc. · <a href="#">Privacy</a> · <a href="#">Terms</a></p>
    </footer>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->

</body>

{% endblock content %}